.egg {
    width: 180px;
    height: 250px;
    background-color: white;
    border-radius: 50%/60% 60% 40% 40%;
    overflow: hidden;
}

.egg--stripe:first-of-type {
    transform: rotate(-15deg);
}
.egg--stripe:last-of-type {
    transform: rotate(15deg);
}
.egg .stripe {
    background-color: blue;
}

.egg .stripe:last-child {
    background-color: brown;
}